<!--
  Created by jojoldu@gmail.com on 2017. 7. 8.
  Blog : http://jojoldu.tistory.com
  Github : http://github.com/jojoldu
-->

<div class="footer-copyright">
    <div class="container">
        <ul class="social-icons">
            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        </ul>
        <p class="copyright-text">© Copyright 2017. All Rights Reserved.</p>
    </div>
</div>