.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
src/main/generated
src/main/resources/client.yml
src/main/resources/static/css/build
src/main/resources/static/js/build

/node_modules
*.log


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

