<!--
  Created by jojoldu@gmail.com on 2017. 7. 8.
  Blog : http://jojoldu.tistory.com
  Github : http://github.com/jojoldu
-->

<div id="mobile-menu-overlay"></div>
<div class="container mb-lg">
    <h2 class="slider-title">
        <span class="inline-title">베스트 후기</span>
        <span class="line"></span>
    </h2>

    <div class="owl-carousel owl-theme manual featured-products-carousel">
        <div class="product">
            <figure class="product-image-area">
                <a href="demo-shop-5-product-details.html" title="Product Name" class="product-image">
                    <img src="../img/demos/shop/products/product1.jpg" alt="Product Name"/>
                    <img src="../img/demos/shop/products/product1-2.jpg" alt="Product Name" class="product-hover-image"/>
                </a>
                <div class="product-label"><span class="new">Best</span></div>
            </figure>
            <div class="product-details-area">
                <h2 class="product-name"><a href="javascript:;" title="">교육센터1</a></h2>
                <div class="product-price-box">
                    <span class="product-price">강좌1</span>
                </div>
                <div class="product-ratings">
                    <div class="ratings-box">
                        <div class="rating" style="width:60%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-xs">
    <h2 class="slider-title">
        <span class="inline-title">신규 후기</span>
        <span class="line"></span>
    </h2>

    <div class="owl-carousel owl-theme manual new-products-carousel hide-addtolinks">
        <div class="product">
            <figure class="product-image-area">
                <a href="demo-shop-5-product-details.html" title="Product Name" class="product-image">
                    <img src="../img/demos/shop/products/product17.jpg" alt="Product Name"/>
                </a>
                <div class="product-label"><span class="new">New</span></div>
            </figure>
            <div class="product-details-area">
                <h2 class="product-name"><a href="demo-shop-5-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                <div class="product-ratings">
                    <div class="ratings-box">
                        <div class="rating" style="width:60%"></div>
                    </div>
                </div>

                <div class="product-price-box">
                    <span class="old-price">$99.00</span>
                    <span class="product-price">$89.00</span>
                </div>
            </div>
        </div>
    </div>
</div>

