<!DOCTYPE html>
<html lang="ko">
<head>

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>CCR</title>

    <meta name="keywords" content="Coding, Camp, Review" />
    <meta name="description" content="Coding Camp Review Community"/>
    <meta name="author" content="jojoldu"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png"/>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/build/build.css"/>

    <!-- Head Libs -->
    <!--<script src="../vendor/modernizr/modernizr.min.js"></script>-->
</head>
<body>

<div class="body">
    <header id="header" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 155, 'stickySetTop': '-155px', 'stickyChangeLogo': false}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Porto" width="111" height="51" src="/image/logo.png"/>
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="row">
                            <div class="header-search">
                                <a href="javascript:;" class="search-toggle"><i class="fa fa-search"></i></a>
                                <div class="header-search-wrapper">
                                    <input type="text" class="form-control" id="searchQuery" placeholder="Search..."/>
                                    <select id="cat" name="cat">
                                        <option value="ALL">전체</option>
                                        <option value="CAMP_TITLE">학원명</option>
                                        <option value="COURSE_TITLE">과정명</option>
                                        <option value="COURSE_TAG">과정 태그</option>
                                    </select>
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                            <a href="#" class="mmenu-toggle-btn" title="Toggle menu">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container header-nav">
                <div class="container">
                    <div class="header-nav-main" style="float: none">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                <li class="dropdown active">
                                    <a class="dropdown-toggle" href="demo-shop-5.html">Home<i class="fa fa-caret-down"></i></a>


                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="demo-shop-1.html">Shop Demos<i class="fa fa-caret-down"></i></a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="demo-shop-1.html">Shop Demos <span class="tip tip-hot">Hot!</span><i class="fa fa-caret-down"></i></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-mega-small">
                                    <a href="demo-shop-5-category-4col.html" class="dropdown-toggle">
                                        Fashion <span class="tip tip-new">New</span>
                                        <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-mega-content dropdown-mega-content-small">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        Pages
                                        <i class="fa fa-caret-down"></i></a>
                                </li>

                                <li class="pull-right">
                                    <a href="javascript:;">
                                        Login
                                    </a>
                                </li>
                                <li class="pull-right">
                                    <a href="javascript:;">
                                        리뷰작성
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-nav">
        <div class="mobile-nav-wrapper">
            <ul class="mobile-side-menu">
                <li><a href="demo-shop-5.html">Home</a></li>
                <li>
                    <span class="mmenu-toggle"></span>
                    <a href="#">Fashion <span class="tip tip-new">New</span></a>
                </li>
                <li>
                    <span class="mmenu-toggle"></span>
                    <a href="#">Pages <span class="tip tip-hot">Hot!</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div role="main" class="main">
        <div id="mobile-menu-overlay"></div>
        <div class="banners-container">
            <!--각종 팁 모음-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="javascript:;" class="banner">
                            <img src="" alt="Banner"/>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="javascript:;" class="banner">
                            <img src="" alt="Banner"/>
                        </a>
                    </div>

                    <div class="clearfix visible-sm visible-xs"></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="javascript:;" class="banner">
                            <img src="" alt="Banner"/>
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <a href="javascript:;" class="banner">
                            <img src="" alt="Banner"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-lg">
            <h2 class="slider-title">
                <span class="inline-title">베스트 후기</span>
                <span class="line"></span>
            </h2>

            <div class="owl-carousel owl-theme manual featured-products-carousel">
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-5-product-details.html" title="Product Name" class="product-image">
                            <img src="../img/demos/shop/products/product1.jpg" alt="Product Name"/>
                            <img src="../img/demos/shop/products/product1-2.jpg" alt="Product Name" class="product-hover-image"/>
                        </a>

                        <!--<div class="product-label"><span class="discount">-10%</span></div>-->
                        <div class="product-label"><span class="new">Best</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="javascript:;" title="">교육센터1</a></h2>
                        <div class="product-price-box">
                            <span class="product-price">강좌1</span>
                        </div>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-xs">
            <h2 class="slider-title">
                <span class="inline-title">신규 후기</span>
                <span class="line"></span>
            </h2>

            <div class="owl-carousel owl-theme manual new-products-carousel hide-addtolinks">
                <div class="product">
                    <figure class="product-image-area">
                        <a href="demo-shop-5-product-details.html" title="Product Name" class="product-image">
                            <img src="../img/demos/shop/products/product17.jpg" alt="Product Name"/>
                        </a>
                        <div class="product-label"><span class="new">New</span></div>
                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="demo-shop-5-product-details.html" title="Product Name">Noa Sheer Blouse</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>

                        <div class="product-price-box">
                            <span class="old-price">$99.00</span>
                            <span class="product-price">$89.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="footer-copyright">
            <div class="container">
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
                <p class="copyright-text">© Copyright 2017. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>
<script src="/js/build/build.js"></script>
</body>
</html>
