<!DOCTYPE html>
<html lang="ko">
<head>

    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>CCR</title>

    <meta name="keywords" content="Coding, Camp, Review" />
    <meta name="description" content="Coding Camp Review Community"/>
    <meta name="author" content="jojoldu"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png"/>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/css/build/build.css"/>
    <!-- Head Libs -->
    <!--<script src="../vendor/modernizr/modernizr.min.js"></script>-->
</head>
<body>

<div class="body" id="main-layout"></div>
<script src="/js/build/build.js"></script>
</body>
</html>
